/*header styles*/
header{
    background-color: var(--bg-dark);
    color: var(--white);
    font-size: 1.125rem;
    z-index: 1000;
}

header h1 a{
    text-decoration: none;
}

header .inner-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

header nav a{
    text-decoration: none;
}

header nav a:hover{
    text-decoration: underline;
}

.main-header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

